<header>
    <nav class="navbar">
        <a href="" class="navbar-logo">
            <img src="assets/images/logo.avif" alt="Logo" />
        </a>

        <button class="menu-toggle" mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="navbar-links" [class.open]="isMenuOpen">
            <ul>
                <li>
                    <a routerLink="/" (click)="closeMenu()"
                        ><mat-icon>home</mat-icon>Home</a
                    >
                </li>
                <li>
                    <a routerLink="/movies" (click)="closeMenu()">Movies</a>
                </li>
                <li>
                    <a routerLink="/tvshows" (click)="closeMenu()">TV Shows</a>
                </li>
            </ul>

            <div>
                <button
                    class="gbutton"
                    mat-button
                    [matMenuTriggerFor]="genresMenu"
                >
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    <p>Choose Genres</p>
                </button>
                <mat-menu #genresMenu="matMenu">
                    <button
                        mat-menu-item
                        routerLink="/genres"
                        (click)="closeMenu()"
                    >
                        Movie Genres
                    </button>
                    <button
                        mat-menu-item
                        routerLink="/tvgenres"
                        (click)="closeMenu()"
                    >
                        TV Genres
                    </button>
                </mat-menu>
            </div>
        </div>
    </nav>

    <!-- Overlay -->
    <div class="overlay" [class.show]="isMenuOpen" (click)="closeMenu()"></div>
</header>
