@import "../../styles/colors";
header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: 65px;
        background-color: $bgColorLight;
        margin: 0;
        border-bottom: 1px solid rgb(255, 255, 255, 0.1);

        &-logo {
            display: block;
            img {
                width: 70px;
            }
        }
        &-links {
            display: flex;
            padding: 0 30px;
            margin: 0;
            list-style: none;

            ul {
                padding: 0 30px;
                margin: 0;

                li {
                    display: inline-block;
                    margin-right: 15px;

                    a {
                        mat-icon {
                            padding: 3px 0px;
                            margin: 0;
                        }
                    }

                    mat-icon {
                        margin-right: 5px;
                    }
                }
            }
            div {
                .gbutton {
                    flex-direction: row;
                    color: white;
                    background-color: $primaryColor;
                    p {
                        width: 120;
                        display: inline;
                    }
                }
            }
        }
    }
}
