<div class="slider">
    <ng-container *ngFor="let item of tvitems; let i = index">
        <div class="slide" *ngIf="i == currentSlideIndex" @slidFade>
            <div class="slide-bg">
                <img
                    class="slide-bg-image"
                    [src]="imagesSizes.large + item.backdrop_path"
                    alt=""
                />
            </div>
            <div class="slide-pane">
                <h2 class="name">{{ item.name }}</h2>
                <div class="meta">
                    <div class="info">
                        <span class="rating">
                            <span class="icon">star</span
                            ><span class="rating-value">{{
                                item.vote_average | number : "1.1-1"
                            }}</span
                            ><span>/10</span>
                        </span>
                        <span>{{ item.vote_count }} Reviews</span>
                        <span>{{ item.first_air_date | date : "yyyy" }}</span>
                    </div>
                </div>
                <div class="desc mt-6">{{ item.overview }}</div>
                <div class="network" *ngFor="let network of item.networks">
                    <img
                        class="mt-6"
                        [src]="imagesSizes.small + network.logo_path"
                        alt=""
                    />
                    <span class="spp">
                        <h4>Now Streaming</h4>
                        <h3>Watch Now</h3>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
</div>
